#product-image {
    height: 120px;
    width: 120px;
}

#product-description {
    color: white;
}

#product-name {
    width: 100%; 
    text-align: center; 
    color: #f0e6d2;
    margin-bottom: 8px;
}

.tabbed {
    margin-left: 2em;
    break-before: always;
    display: block;
}

.product-container {
    margin-top: 120px;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 4px solid #c8aa6e30;
    padding: 28px;
    background-color: #151e2980;
}


.product-button {
    text-decoration: none;
    font-size: 12px;
    color: white;
    position: relative;
    display: flex;
    padding: 18px;
    width: 200px;
    margin: auto;
    cursor: pointer;
    background-color: #dc4261;
}

.product-button:after {
    position: absolute;
    z-index: 9;
    content: '';
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    cursor: pointer;
    top: 0;
    width: 0;
    height: 100%;
    left: 0;
    background-color: black;
}

.product-button:hover:after {
  width: 100%;
  height: 100%;
}

.product-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  z-index: 99;
  font-size: 12px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
