/*import from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap's);

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #24272a;
    margin: 0;
    background: url(./assets/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-bottom: 8px;
    color: white;
    font-size: 14px
}

p span{
    font-weight: lighter;
    font-size: 12px;
    opacity: 80%;
}

.lore-container {
    font-family: LegendOfLegendsFont;
    font-size: 40px;
    width: 600px;
    text-align: right;
    line-height: 1.1em;
    color: white;
    display: flex;
    flex-direction: column;
    float: right;
    margin: auto;
    margin-right: 72px;
    padding: 70px 70px 70px 0;
}

.container {
    height: 100%;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}

.product-button {
    text-decoration: none;
    font-size: 16px;
    color: white;
    position: relative;
    display: flex;
    float: right;
    padding: 24px;
    width: 200px;
    margin: auto;
    margin-right: 0;
    cursor: pointer;
    background-color: #dc4261;
}

.product-button:after {
    position: absolute;
    z-index: 9;
    content: '';
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    cursor: pointer;
    top: 0;
    width: 0;
    height: 100%;
    left: 0;
    background-color: black;
}

.product-button:hover:after {
  width: 100%;
  height: 100%;
}

.product-button span {
  position: absolute;
  top: 50%;
  left: 50%;
    width: 200px;
  z-index: 99;
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}



